*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html,body{
	height: 100%;
}
/*Div gerais */
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/*para limpar kk*/
.clear{
	clear: both;
}
header{
	background-color: rgb(180,180,180);
	padding: 10px 2% 10px 2%;
}
.logo1{
	float: left;
	width: 120px;
	height: 150px;
	background-size: 100% auto; /*ouve correção esta e 100% 100%,a imagem estava quebrada */
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../imagem/logo.png');
	/*background-color: purple;*/
}

	section.cover-form{
		width: 100%;
	}
	.bg{
		position: relative;
		height: 545px;
		background-size: cover;
		background-position: center;
		background-image: url('../imagem/bg-form.jpg');
	}
	.form-container{
		position: absolute;
		right: 30px;
		top: -2.5%;
		width: 400px;
		height: 105%;
		box-shadow: 1px 1px 2px 1px rgb(180,180,180);
		background-color:white;
	}
	.form-container h2{
		padding:  25px 15px;
		font-weight: normal;
		color: black;
		background-color: rgb(210,210,210);
		font-size: 18px;
	}
	.form-container form{
		margin-top:20px; 
		padding: 15px;
	}
	.form-contaner form p{
		font-size: 14px;
		color: #525252;
	}
	.form-wraper:not(:first-child){
		margin-top:40px; 
	}
	.form-wraper:last-child{
		margin-top: 20px;
	}
	.form-container form input[type=text]{
		width: 100%;
		border: 1px solid #ccc;
		height: 45px;
		line-height: 45px; /*serve para definir o tamanho de distancia das linhas e centrar,poderia usar pading - tmb imcompatibilidade com o mozilaa*/
		padding-left: 10px;
	}
	.form-container form input[type=submit]{
		background-color: #033C50;
		text-transform: uppercase;
		color: white;
		width: 100%;
		font-size: 25px;
		height: 60px;
		cursor: pointer;
		border: 0;

	}
	section.chamada{
		z-index: 1;
		text-align: center;
		width: 100%;
	}
	section.chamada div.container{
		background-color: gray;
		padding: 70px 0 50px 0 ;
	}
	
	section.chamada h2{
		width: 98%;
		display: inline-block;
		max-width: 700px;
		color: white;
		text-transform: uppercase;
		font-size:24px;
		font-weight: normal;
	}
	section.chamada p{
		width: 98%;
		max-width: 700px;
		display: inline-block;
		color: white;
		margin-top: 10px;
		font-size: 18px;
		font-weight: normal;
	}
	.flex-mosaico{
		display: flex;
	}
	.item-1-mosaico{
		background-position: cover;
		background-position: center;
		width: 60%;
	
	}
	.item-2-mosaico{
		background-color: #146af5;
		padding:60px 40px;
		width: 40%;
	}
	.item-2-mosaico p{
	 /*podiar colocar no item 2 color white que daria certo */
	 color: white;
	}
	footer{
		text-align: center;
		padding: 30px 0;
		background-color: gray;
	}
	footer p {

		margin-top: 8px;
	}
	footer img{
		width: 30px;
	}
	@media screen and(max-width: 768px){
	 .flex-mosaico{
	 	display: block;

	 }	
      
		.item-1-mosaico{
			/*para aparecer a imagem definido manualmenteheight: 400px;porque o fluxo da ordem não importa,ele pode colocar a ordem que quiser,pois tem o display flex*/
			width: 100%;
			padding-top: 80%; /*se torna resposivo por completo */
		}
     		.item-2-mosaico{
			width: 100%;
			text-align: justify;
		}

	}
	@media screen and (max-width: 960px){
		.bg{
			height:auto;
			padding: 40px 0;
			text-align: center;
		}
		.form-container{
			height: auto;
			width: 96%;
			max-width: 400px;
			position: static;
			display: inline-block;
		}
	}
@media screen and(max-width: 510px){
     header{
     	text-align: center;
     }	

	[class^="logo"]{ /*aqui está dizendo que tudo que começe com logo aplique esse estilo */
		margin-top: 10px;
		display: inline-block;
		float: none;
	}
}
